.navbar-blue {
	background-color: #29548b;
	border-color: #97bbb9;
}
.navbar-blue .navbar-brand {
	color: #4edcff;
}
.navbar-blue .navbar-brand:hover, .navbar-blue .navbar-brand:focus {
	color: #263533;
}
.navbar-blue .navbar-text {
	color: #4edcff;
}
.navbar-blue .navbar-nav > li > a {
	color: #4edcff;
}
.navbar-blue .navbar-nav > li > a:hover, .navbar-blue .navbar-nav > li > a:focus {
	color: #263533;
}
.navbar-blue .navbar-nav > .active > a, .navbar-blue .navbar-nav > .active > a:hover, .navbar-blue .navbar-nav > .active > a:focus {
	color: #263533;
	background-color: #97bbb9;
}
.navbar-blue .navbar-nav > .open > a, .navbar-blue .navbar-nav > .open > a:hover, .navbar-blue .navbar-nav > .open > a:focus {
	color: #263533;
	background-color: #97bbb9;
}
.navbar-blue .navbar-toggle {
	border-color: #97bbb9;
}
.navbar-blue .navbar-toggle:hover, .navbar-blue .navbar-toggle:focus {
	background-color: #97bbb9;
}
.navbar-blue .navbar-toggle .icon-bar {
	background-color: #4edcff;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
	border-color: #4edcff;
}
.navbar-blue .navbar-link {
	color: #4edcff;
}
.navbar-blue .navbar-link:hover {
	color: #263533;
}

@media (max-width: 767px) {
	.navbar-blue .navbar-nav .open .dropdown-menu > li > a {
		color: #4edcff;
	}
	.navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #263533;
	}
	.navbar-blue .navbar-nav .open .dropdown-menu > .active > a, .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #263533;
		background-color: #97bbb9;
	}
}

.espaiTPV{
	border: solid 1px #97bbb9;
}

.body{
	height: 620px;
}

.head, .body{
	border-bottom: solid 1px #97bbb9;
}

#zonaPizza{
	display: inline-block;
	border-right: solid 1px #97bbb9;
	height: 620px;
	width: 66%;
}

#zonaTicket{
	display: inline-block;
	height: 620px;
	width: 34%;
	margin-left: -5px;
	background-color: rgba(0, 64, 116, 0.1);
}

.pie{
	position:absolute;
	bottom:0;
	width:100%;
	text-align: center;
}

.foot{
	position:absolute;
	bottom: 40px;
	margin-left: 5px;
}

.tipusPizza, .tipus{
	width: 120px;
	height: 50px;
	border: solid 1px black;
	border-radius: 5px;
	background-color: rgba(234, 222, 233, 0.1);
	text-align: center;
	vertical-align: middle;
	margin-top: 5px;
	margin-left: 5px; 
	cursor: pointer;
}

.espaiTPV{
	width: 100%;
	min-height: 720px;
	background-color: rgba(0, 0, 255, 0.1);
}

.amagar{
	display: none;
}

.zonaBotons{
	margin-left: 5px;
	padding: 5px;
}

.tipusPizza:hover, .tipus:hover{
	background-color: rgba(0, 59, 255, 0.6);
	color: rgba(255, 255, 255, 1);
}

.basePizza{
	position: absolute;
	margin-left: 100px;
	margin-top: 50px;
}

.botonsInici{
	text-align: center;
	
}
