.navbar-blue {
	background-color: #29548b;
	border-color: #97bbb9;
}
.navbar-blue .navbar-brand {
	color: #4edcff;
}
.navbar-blue .navbar-brand:hover, .navbar-blue .navbar-brand:focus {
	color: #263533;
}
.navbar-blue .navbar-text {
	color: #4edcff;
}
.navbar-blue .navbar-nav > li > a {
	color: #4edcff;
}
.navbar-blue .navbar-nav > li > a:hover, .navbar-blue .navbar-nav > li > a:focus {
	color: #263533;
}
.navbar-blue .navbar-nav > .active > a, .navbar-blue .navbar-nav > .active > a:hover, .navbar-blue .navbar-nav > .active > a:focus {
	color: #263533;
	background-color: #97bbb9;
}
.navbar-blue .navbar-nav > .open > a, .navbar-blue .navbar-nav > .open > a:hover, .navbar-blue .navbar-nav > .open > a:focus {
	color: #263533;
	background-color: #97bbb9;
}
.navbar-blue .navbar-toggle {
	border-color: #97bbb9;
}
.navbar-blue .navbar-toggle:hover, .navbar-blue .navbar-toggle:focus {
	background-color: #97bbb9;
}
.navbar-blue .navbar-toggle .icon-bar {
	background-color: #4edcff;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
	border-color: #4edcff;
}
.navbar-blue .navbar-link {
	color: #4edcff;
}
.navbar-blue .navbar-link:hover {
	color: #263533;
}

@media (max-width: 767px) {
	.navbar-blue .navbar-nav .open .dropdown-menu > li > a {
		color: #4edcff;
	}
	.navbar-blue .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-blue .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #263533;
	}
	.navbar-blue .navbar-nav .open .dropdown-menu > .active > a, .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-blue .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #263533;
		background-color: #97bbb9;
	}
}
.container{
	height: 100%;
}

.pie{
	position:absolute;
	bottom:0;
	width:100%;
	text-align: center;
}