{% extends 'base.html' %}
{% block title %}
<title>Blog</title>
{% endblock title %}

{% block content %}
<ol class="breadcrumb">
	<li>
		<a href="{% url 'Index' %}">Inici</a>
	</li>
	<li>
		<a href="#">Blog</a>
	</li>
	<li class="active">
		Blog
	</li>
</ol>
<blockquote>
	<h2>Blog de CendraPizza</h2>
	<h3><small>Ofertes, novetats i notícies de la nostra pizzería!</small></h3>
</blockquote>
{% for p in post %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{ p.titol}} </h3>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			{{p.tema}}
		</li>
	</ul>
	<div class="panel-body">
		{{ p.entrada}}
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			Data de publicació: {{ p.data_publicacio}}. Autor: {{ p.autor }}
		</li>
	</ul>
</div>
{% endfor %}
<div class="paginator">
	<ul class="pager">
		{% if post.has_previous %}
		<li class="previous">
			<a href="?page={{ post.previous_page_number}}">&larr; Anterior</a>
		</li>
		{% else %}
		<li class="previous disabled">
			<a href="#">&larr; Anterior</a>
		</li>
		{% endif %}
		<span class="current"> Pàgina {{post.number}} de {{ post.paginator.num_pages}} </span>
		{% if post.has_next %}
		<li class="next">
			<a href="?page={{ post.next_page_number}}">Següent &rarr;</a>
		</li>
		{% else %}
		<li class="next disabled">
			<a href="#">Següent &rarr;</a>
		</li>
		{% endif %}
	</ul>
</div>
{% endblock content %}