{% extends 'base.html' %}

{% block title %}
<title>Nou Client</title>
{% endblock %}

{% block content %}
<blockquote>
  <h2>Crea un perfil de client.</h2>
  <h3><small>I fes les teves comandes des de qualsevol lloc!</small></h3>
  <p>Insereix les teves dades de contacte.</p>
</blockquote>

<form role="form" action="/Usuari/perfilClient/" method="post">{% csrf_token %}
  {% for field in formulariDades %}
  <div class="form-group">
  	<div class="input-group">
  		<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
  		{{ field.errors }}
  		{{ field }}
  	</div>
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-primary">Crear Client</button>
</form>

{% endblock content %}
