{% extends 'base.html' %}

{% block title %}
<title>Nou Client</title>
{% endblock %}

{% block content %}
<blockquote>
  <h2>Crea un perfil de client.</h2>
  <h3><small>I fes les teves comandes des de qualsevol lloc!</small></h3>
</blockquote>
<form role="form" action="/Usuari/perfilClient/" method="post">{% csrf_token %}
  {% for field in form %}
  <div class="form-group">
  	{{ field.errors }}
  	{{ field }}
  </div>
  {% endfor %}
  <button type="submit" class="btn btn-success">Crear Compte</button>
</form>

{% endblock content %}
