{% extends 'base.html' %}
{% block title %}
<title>Perfil</title>
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<ol class="breadcrumb">
  <li><a href="{% url 'Index' %}">Inici</a></li>
  <li><a href="#">Perfil</a></li>
  <li class="active">El Meu Compte</li>
</ol>
<blockquote>
  <h2>Hola, {{ user.username }}. Estàs al teu perfil personal.</h2>
  <h3><small>Gestiona les teves dades personals!</small></h3>
</blockquote>

<div class="page-header">
  <h2>Nom d'Usuari: {{ user.username }} </h2>
</div>
<div class="page-header">
  <h2>Correu Electrònic: {{ user.email }} </h2>
</div>
<div class="page-header">
  <h2>Adreça: {{ user.usuari.adreca }} <small><a href="{% url 'Usuari:dadesClient' %}">Canviar</a></small></h2>
</div>
<div class="page-header">
  <h2>Telèfon de Contacte: {{ user.usuari.adreca }} <small><a href="{% url 'Usuari:dadesClient' %}">Canviar</a></small></h2>
</div>
{% else %}
<div class="jumbotron">
  <div class="container">
    Per accedir a aquesta pàgina, es necessàri tenir un compte de client i estar autenticat.
  </div>
</div>
{% endif %}

{% endblock %}
