{% extends 'base.html' %}
{% block title %}
<title>Contacte</title>
{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{% url 'Index' %}">Inici</a></li>
  <li><a href="#">Sobre Nosaltres</a></li>
  <li class="active">Contacte</li>
</ol>
<blockquote>
  <h2>Contacte</h2>
  <h3><small>Si vols qualsevol informació o tens algun dubte, comunica't amb nosaltres!</small></h3>
</blockquote>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Telèfon d'atenció al client</h3>
  </div>
  <div class="panel-body">
    <span class="glyphicon glyphicon-phone-alt"></span> 972 678 566
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Telèfon de comandes</h3>
  </div>
  <div class="panel-body">
    <span class="glyphicon glyphicon-phone-alt"></span> 972 678 567
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">E-mail de contacte</h3>
  </div>
  <div class="panel-body">
    <span class="glyphicon glyphicon-send"></span> admin@cendrapizza.cat
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Horaris</h3>
  </div>
  <div class="panel-body">
    <span class="glyphicon glyphicon-time"></span> Oficines: Dilluns a Divendres, 9:00 - 14:00 hrs. <br>
    <span class="glyphicon glyphicon-time"></span> Restaurant i comandes: Dilluns a Diumenges, 11:45 - 23:50 hrs.
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Lloc web i comandes</h3>
  </div>
  <div class="panel-body">
    <span class="glyphicon glyphicon-globe"></span> http://www.cendrapizza.cat
  </div>
</div>
{% endblock %}