{% extends 'base.html' %}
{% block title %}
<title>On Som?</title>
{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{% url 'Index' %}">Inici</a></li>
  <li><a href="#">Sobre Nosaltres</a></li>
  <li class="active">On Som?</li>
</ol>
<blockquote>
  <h2>On Som?</h2>
  <h3><small>Vols venir a veure les nostres instal·lacions? Visita'ns!.</small></h3>
</blockquote>
<div id="mapa">
	<iframe src="https://mapsengine.google.com/map/embed?mid=zfibWhJsjaC0.kl1Be6UhVVKY" width="100%" height="480"></iframe>
</div>
{% endblock %}