{% extends 'base.html' %}
{% block title %}
<title>Comandes Clients</title>
{% endblock title %}

{% block content %}
<ol class="breadcrumb">
	<li>
		<a href="{% url 'Index' %}">Inici</a>
	</li>
	<li>
		<a href="#">Comandes</a>
	</li>
	<li class="active">
		Comandes Clients
	</li>
</ol>
{% if user.is_staff %}
<blockquote>
	<h2>Comandes Dels Clients</h2>
	<h3>Gestiona les comandes de cada client<small></small></h3>
</blockquote>
{% for c in comandes %}
<div class="panel panel-primary">
	<div class="panel-heading">
		Comanda {{c.id}} de {{c.client}}
	</div>
	<div class="panel-body">
		<ul class="list-group">
			<li class="list-group-item">
				Data de la comanda: {{c.data_comanda}}
			</li>
			<li class="list-group-item">
				Import total: {{c.import_comanda}}
			</li>
			<li class="list-group-item">
				Pagament: {{c.comanda_pagada}}
			</li>
			{% if c.comanda_entregada == False %}
			<li class="list-group-item list-group-item-danger">
				Estat de la comanda: No Entregada
				<button class="btn btn-primary botoEntrega">
					Comanda Entregada
				</button>
			</li>
			{% else %}
			<li class="list-group-item">
				Estat de la comanda: Entregada
			</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endfor %}
{% else %}
<h1>no tens acces a aquesta pagina</h1>
<a href="{% url 'Index' %}">Anar a Inici</a>
{% endif %}
{% endblock %}
